<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>General Information</h1>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Kafka broker info:</h1>
      <div ng-if="controller.controller != undefined">
        Connected to Zookeeper.<BR>
        Version: {{controller.controller.version}}<BR>
        Broker Id: {{controller.controller.brokerid}}<BR>
        Broker Id: {{controller.controller.timestamp}}<BR>
      </div>
      <!--<div ng-switch-when="controller.controller">-->

      <!--</div>-->
      <!--<div ng-switch-default>-->
        <!--Could not connect to Zookeeper.-->
      <!--</div>-->
      <!--<ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">-->
        <!--<li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>-->
      <!--</ul>-->
    </div>
  </div>
</div>

<div ng-include="'components/footer.html'"></div>
